.form_box {
  border-radius: 11px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  background: white;
  width: 66%;
  height: 74%;
  z-index: 1;
  display: flex;
  background: rgba(219, 198, 198, 0.08);
  backdrop-filter: blur(4px);
}
.form_box form {
  width: 50%;
  height: 100%;
}

.company_info_on_page {
 
  display: grid;
  justify-items: center;
  grid-template-rows: 192px 263px 150px;
  align-items: end;
  width: 70%;
  background: #3949ab;
  height: 100%;
}
.company_info_on_page > div > h1 {
  font-size: 116px;
  color: white;
}

.Welcome_communtiy {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Cute_doll {
  background: #00227b;
  border-radius: 64%;
  height: 243px;
  width: 243px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.form_input_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.join_community div h1 {
  color: #000;
}
.comunity_greting_input div span {
  font-size: 29px;
  color: rgb(0, 0, 0);
}
.comunity_greting_input{
  height: 452px;
      
      display: flex;

      flex-direction: column;
     
      justify-content: flex-end;
      
      align-items: center;
  
}


.form_input_Section{
  height: 51%;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.form_div {

  border-radius: 12px;
  height: 35px;

  display: flex;
  width: 96%;
  
  align-items: center;
  
  justify-content: center;
  border: 1px solid black;
  
}
.form_div > input{
  width: 100%;
  border: none;
 
    border-radius: 6px;
}

.form_div >  input:focus {
  background-color: transparent;
  outline: none;
}
.form_input_Section button {
  border: none;
  color: white;
  border-radius: 15px;
  background: #3949AB;
  width: 94%;
  height: 4vh

}
.Forget_password{
  width: 94%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.comunity_greting {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.Signup_option{
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap:20px;

}
.form_input_Section_Collection{
  height: 250px;
      width: 300px;
 
      display: flex;
    align-items: center;
      flex-direction: column;
     
      justify-content: space-evenly;

} 

.Signup_option > div> span{
  font-size: 14px;
}
.Signup_option > button{
  border-radius: 10px;
      border: 1px solid black;
      width: 57%;
      height: 4vh;
      outline: none;
}