.Main_Register_div {
	background-color: #f8f8f8;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Main_Register_div > .Loginpage_up > img {
	position: absolute;
	left: 12%;
	top: 27%;
	z-index: 2;
}
.Main_Register_div > .Loginpage_Down > img {
	position: absolute;
	bottom: 3%;
	right: 28%;
}
